<div class="backdrop subscription-open">
    <div class="modal">
       <button class="modal-btn" type="button">
        <svg class="modal-svg" width="32" height="32">
          <use href="../img/symbol-defs.svg#icon-close"></use>
        </svg>
       </button> 
       <h2 class="modal-header">
        Welcome to the world of CoffeeJoy!
       </h2>
       <p class="modal-text">
        Fresh brews, special offers, and cozy updates are coming your way.
       </p>
       <picture> 
       <source
          media="(min-width: 1400px)"
          srcset="../img/modal/modal-img-desk-min.jpg 1x, ../img/modal/modal-img-desk@2x-min.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="../img/modal/modal-img-tab-min.jpg 1x, ../img/modal/modal-img-tab@2x-min.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="../img/modal/modal-image-mob-min.jpg 1x, ../img/modal/modal-image-mob@2x-min.jpg 2x"
        
        />
        <img
          class="modal-img"
          src="../img/modal/modal-img-desk-min.jpg"
          alt="A cup of coffee on a table"
        />
       </picture>
       <button class="modal-btn-close" type="button">Close</button>
    </div>
</div>