<section class="experience-section" id="gallery">
  <div class="container experience-container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-title-text">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <div class="gallery">
      <picture class="img1">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/1-mob.jpg 1x, /img/experience/1-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/1-tab.jpg 1x, /img/experience/1-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/1-desk.jpg    1x,
            /img/experience/1-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/1-mob.jpg "
          alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table."
          class="gallery-img"
          loading="lazy"
        />
      </picture>
      <picture class="img2">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/2-mob.jpg 1x, /img/experience/2-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/2-tab.jpg 1x, /img/experience/2-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/2-desk.jpg    1x,
            /img/experience/2-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/2-mob.jpg "
          alt="A breakfast scene with a filter coffee in a glass server, a small ceramic mug, and a plate with a croissant and butter."
          class="gallery-img"
          loading="lazy"
        />
      </picture>
      <picture class="img3">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/3-mob.jpg 1x, /img/experience/3-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/3-tab.jpg 1x, /img/experience/3-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/3-desk.jpg    1x,
            /img/experience/3-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/3-mob.jpg "
          alt="A quiet café corner with a beige armchair and a small round wooden table. On the table — a cappuccino in a matte cup and an open book."
          class="gallery-img"
          loading="lazy"
        />
      </picture>
      <picture class="img4">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/4-mob.jpg 1x, /img/experience/4-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/4-tab.jpg 1x, /img/experience/4-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/4-desk.jpg    1x,
            /img/experience/4-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/4-mob.jpg "
          alt="Hands of a barista gently pouring a rich espresso shot into a ceramic cup."
          class="gallery-img"
          loading="lazy"
        />
      </picture>
      <picture class="img5">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/5-mob.jpg 1x, /img/experience/5-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/5-tab.jpg 1x, /img/experience/5-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/5-desk.jpg    1x,
            /img/experience/5-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/5-mob.jpg "
          alt="A quiet café corner with a beige armchair and a small round wooden table. On the table — a cappuccino in a matte cup and an open book."
          class="gallery-img"
          loading="lazy"
        />
      </picture>
      <picture class="img6">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/6-mob.jpg 1x, /img/experience/6-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/6-tab.jpg 1x, /img/experience/6-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/6-desk.jpg    1x,
            /img/experience/6-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/6-mob.jpg "
          alt="Two coffee cups on a small round table outdoors, surrounded by potted plants and greenery."
          class="gallery-img"
        />
      </picture>
      <picture class="img7">
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="/img/experience/7-mob.jpg 1x, /img/experience/7-mob@2x.jpg 2x"
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          srcset="/img/experience/7-tab.jpg 1x, /img/experience/7-tab@2x.jpg 2x"
        />
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/experience/7-desk.jpg    1x,
            /img/experience/7-desk@2x.jpg 2x
          "
        />
        <img
          src="img/experience/7-mob.jpg "
          alt="A takeaway coffee cup with a kraft sleeve and CoffeeJoy branding placed on a wooden bench in a park."
          class="gallery-img"
        />
      </picture>
    </div>
  </div>
</section>
