<section class="location container" id="location">
  <h2 class="location-header">
    Find<span class="header-span"> Location </span>
  </h2>
  <p>Visit us at our cozy coffee shop!</p>
  <ul class="contacts-list">
    <li class="contacts-item">
      <svg class="contacts-icon" width="32" height="32">
        <use href=""></use>
      </svg>
      <h3 class="contacts-name">Email</h3>
      <a class="contacts-link" href="mailto:hello@coffeejoy.com"
        >hello@coffeejoy.com</a
      >
    </li>
    <li class="contacts-item">
      <svg class="contacts-icon" width="32" height="32">
        <use href=""></use>
      </svg>
      <h3 class="contacts-name">Phone</h3>
      <a class="contacts-link" href="tel:+15551235321">+1 (555) 123-5321</a>
    </li>
    <li class="contacts-item">
      <svg class="contacts-icon" width="32" height="32">
        <use href=""></use>
      </svg>
      <h3 class="contacts-name">Office</h3>
      <p class="contacts-address"></p>
      <button class="contacts-button" type="button">
        Get Directions
        <svg class="contacts-button-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
