<div class="mobile-menu">
    <div class="container mobile-container">
       <svg  class="header-icon mb-18" width="62" height="35">
            <use href="/img/symbol-defs.svg#icon-logo-icon"></use>
        </svg>
        <button class="close-mobile-btn" type="button">
            <svg  class="header-icon" width="26" height="32">
                <use href="/img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <nav class="nav-mobile">
                <ul class="mobile-list">
                    <li class="mobile-item">
                        <a class="header-nav-link" href="#about">About us</a>
                    </li>
                    <li class="mobile-item">
                        <a class="header-nav-link" href="#benefits">Benefits</a>
                    </li>
                    <li class="mobile-item">
                        <a class="header-nav-link" href="#gallery">Gallery</a>
                    </li>
                    <li class="mobile-item">
                        <a class="header-nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="mobile-item" >
                        <a class="header-nav-link" href="#location">Location</a>
                    </li>
                </ul>
            </nav>
        
    </div>
</div>