<div id="benefits" class="quality">
  <div class="container quality-container">
    <p class="quality-subtitle">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <img
          src="/img/quality/coffee-beans.jpg"
          srcset="
            /img/quality/coffee-beans.jpg    1x,
            /img/quality/coffee-beans@2x.jpg 2x
          "
          alt="quality image"
          class="quality-item-img"
          width="288"
          height="164"
          loading="lazy"
        />
        <h3 class="quality-item-subtitle">
          Fresh-Roasted Coffee for Every Taste
        </h3>
        <p class="quality-item-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <img
          src="/img/quality/coffee-maker.jpg"
          srcset="
            /img/quality/coffee-maker.jpg    1x,
            /img/quality/coffee-maker@2x.jpg 2x
          "
          alt="quality image"
          class="quality-item-img"
          width="288"
          height="164"
          loading="lazy"
        />
        <h3 class="quality-item-subtitle">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item full-width">
        <img
          src="/img/quality/coffee-table.jpg"
          srcset="
            /img/quality/coffee-table.jpg    1x,
            /img/quality/coffee-table@2x.jpg 2x
          "
          alt="quality image"
          class="quality-item-img"
          width="288"
          height="164"
          loading="lazy"
        />
        <h3 class="quality-item-subtitle">Cozy Atmosphere</h3>
        <p class="quality-item-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</div>
