<div id="benefits" class="quality">
  <div class="container quality-container">
    <p class="quality-subtitle">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/coffee-beans_desk.png    1x,
              /img/quality/coffee-beans_desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/coffee-beans_tab.png    1x,
              /img/quality/coffee-beans_tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/coffee-beans_mob.png    1x,
              /img/quality/coffee-beans_mob@2x.png 2x
            "
          />
          <img
            src="/img/quality/coffee-beans_mob.png"
            srcset="
              /img/quality/coffee-beans_mob.png    1x,
              /img/quality/coffee-beans_mob@2x.png 2x
            "
            alt="quality image"
            class="quality-item-img"
            width="288"
            height="164"
            loading="lazy"
          />
        </picture>
        <h3 class="quality-item-subtitle">
          Fresh-Roasted Coffee for Every Taste
        </h3>
        <p class="quality-item-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/coffee-maker_desk.png    1x,
              /img/quality/coffee-maker_desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/coffee-maker_tab.png    1x,
              /img/quality/coffee-maker_tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/coffee-maker_mob.png    1x,
              /img/quality/coffee-maker_mob@2x.png 2x
            "
          />
          <img
            src="/img/quality/coffee-maker_mob.png"
            srcset="
              /img/quality/coffee-maker_mob.png    1x,
              /img/quality/coffee-maker_mob@2x.png 2x
            "
            alt="quality image"
            class="quality-item-img"
            width="288"
            height="164"
            loading="lazy"
          />
        </picture>

        <h3 class="quality-item-subtitle">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item full-width">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/coffee-table_desk.png    1x,
              /img/quality/coffee-table_desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/coffee-table_tab.png    1x,
              /img/quality/coffee-table_tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/coffee-table_mob.png    1x,
              /img/quality/coffee-table_mob@2x.png 2x
            "
          />
          <img
            src="/img/quality/coffee-table_mob.png"
            srcset="
              /img/quality/coffee-table_mob.png    1x,
              /img/quality/coffee-table_mob@2x.png 2x
            "
            alt="quality image"
            class="quality-item-img"
            width="288"
            height="164"
            loading="lazy"
          />
        </picture>
        <h3 class="quality-item-subtitle">Cozy Atmosphere</h3>
        <p class="quality-item-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</div>
