<section id="testimonials" class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">What our visitors say</h2>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "Every cup feels like a warm hug! I&#39;m addicted to their seasonal
            flavors!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">Name Surname</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
        </div>
        <h3 class="testimonials-reviewer">Alice Johnson</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">Michael Smith</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "The pastries are to die for! I can&#39;t resist pairing them with
            my favorite latte. Highly recommend this spot!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">Emily Davis</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">James Brown</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">Sarah Wilson</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "I&#39;m addicted to their seasonal flavors! Each one is crafted
            with such care and creativity."
          </p>
        </div>
        <h3 class="testimonials-reviewer">Chris Lee</h3>
      </li>

      <li class="testimonials-item">
        <div class="testimonials-wrap">
          <ul class="testimonials-list-stars">
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-stars-item">
              <svg class="testimonials-stars-icon" width="20" height="19">
                <use href="/img/symbol-defs.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-comment">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
        </div>
        <h3 class="testimonials-reviewer">Patricia Taylor</h3>
      </li>
    </ul>
  </div>
</section>
