<!-- WELCOME -->
<section id="about" class="welcome">
  <div class="container">
    <div class="welcome-description">
      <div class="welcome-container">
        <p class="welcome-name">Welcome</p>

        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-container">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="welcome-btn">
          Find location
          <svg class="welcome-btn-svg" width="25" height="24">
            <use href="/img/symbol-defs.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>

    <picture>
      <source
        srcset="
          /img/welcome/Welcome-making-coffee-min.jpg    1x,
          /img/welcome/Welcome-making-coffee@2x-min.jpg 2x
        "
      />
      <img
        src="/img/welcome/Welcome-making-coffee-min.jpg"
        alt="barista making coffe"
        class="welcome-image"
      />
    </picture>
  </div>
</section>
