.backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.5, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.5, 0, 0.2, 1);
}

.backdrop.subscription-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.subscription-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.modal {
  border-radius: 40px;
  padding: 64px 16px;
  max-width: 288px;
  min-height: 631px;
  background-color: #e0cbb4;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: transform 250ms (0.5, 0, 0.2, 1);
  transform: translateX(-50%) translateY(-50%);
}

.modal-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #0b0803;
}

.modal-svg {
}

.modal-header {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  margin-bottom: 16px;
}

.modal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  text-align: center;
  margin-bottom: 24px;
}

.modal-img {
  border-radius: 24px;
  width: 256px;
  height: 200px;
  margin-bottom: 24px;
}

.modal-btn-close {
  border-radius: 100px;
  padding: 10px 24px;
  height: 44px;
  width: 256px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .modal {
    min-width: 704px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .modal-header {
    max-width: 502px;
    margin: 0 auto 16px auto;
    font-size: 36px;
  }

  .modal-text {
    margin-bottom: 48px;
    min-width: 576px;
  }
  .modal-img {
    border-radius: 40px;
    width: 644px;
    height: 374px;
    margin-bottom: 48px;
  }
  .modal-btn-close {
    display: block;
    margin: 0 auto;
    width: 360px;
  }
}

@media only screen and (min-width: 1400px) {
  .modal {
    min-width: 866px;
    padding: 64px;
  }
  .modal-btn {
    right: 73px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    opacity: 0.5;
  }

  .modal-header {
    max-width: 738px;
    font-size: 48px;
  }
  .modal-img {
    margin: 0 auto 48px auto;
  }
  .modal-btn-close {
    width: 274px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-close:hover,
  .modal-btn-close:focus {
    opacity: 0.5;
  }
}
