html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
  background-color: #e0cbb4;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
h2 {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}