.experience-container {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  justify-content: center;
}

.experience-title {
  max-width: 320px;
  text-align: center;
  color: #23201c;
  margin: 0 auto 24px;
}

.experience-title-text {
  font-weight: 400;
  text-align: center;
  margin: 0 auto 24px;
  max-width: 320px;
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .img7 {
    width: 100%;
    grid-column: 1 / span 2;
  }

  .experience-title {
    max-width: 100%;
  }
  .experience-title-text {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 234px 150px 52px 332px 52px;
  }
  .img1 {
    grid-area: 1 / 1 / span 2 / span 1;
  }
  .img2 {
    grid-area: 3 / 1 / span 2 / span 1;
  }
  .img3 {
    grid-area: 2 / 2 / span 2 / span 1;
  }
  .img4 {
    grid-area: 1 / 2 / span 1 / span 1;
  }
  .img5 {
    grid-area: 4 / 2 / span 2 / span 1;
  }
  .img6 {
    grid-area: 1 / 3 / span 2 / span 1;
  }
  .img7 {
    grid-area: 3 / 3 / span 2 / span 1;
  }
}

.gallery-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
