.footer {
  background-color: #b58869;
  padding: 24px 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #c29d84;
  border-radius: 40px;
  padding: 32px 0;
}

@media only screen and (min-width: 1440px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

/* #region footerLogo */

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    width: 84px;
  }
}

.footer-logo-icon {
  width: 146px;
  height: 84px;
}

@media only screen and (min-width: 768px) {
  .footer-logo-icon {
    width: 63px;
    height: 36px;
  }
}

/* #endregion footerLogo */

/* #region footerSocials */

.footer-social {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-social-icon {
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .footer-social-icon {
    width: 24px;
    height: 24px;
  }
}

/* #endregion footerSocials*/

/* #region footer-nav */

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  /* outline: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    justify-content: center;
  }
}

.footer-nav-link,
.footer-social-link {
  display: inline-block;
  transition: opacity 250ms ease-in-out;
}

@media only screen and (min-width: 1440px) {
  .footer-nav-link,
  .footer-social-link {
    padding: 32px 0;
  }
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.5;
}

/* #endregion footer-nav */

.footer-copy {
  font-size: 14px;
  text-align: center;
  margin-top: 32px;
}
