.location-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 1440px) {
  .location-container {
    flex-direction: row;
    gap: 24px;
  }
}
.location-title {
  margin-bottom: 24px;
}
.location-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.location-text {
  margin-bottom: 40px;
}

.contacts-list {
  min-width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contacts-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    align-items: start;
  }
  .contacts-item {
    max-width: calc((704px - (40px * 2)) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .contacts-item {
    max-width: 419px;
  }
}
.contacts-icon {
  fill: #0b0803;
  margin-bottom: 16px;
}
.contacts-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: currentColor;
  transition: opacity 250ms cubic-bezier(0.5, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  opacity: 0.5;
}
.contacts-address {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.contacts-button-container {
  /* padding-bottom: 32px; */
}
.contacts-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  font-family: inherit;
  background-color: transparent;
  transition: opacity 250ms cubic-bezier(0.5, 0, 0.2, 1);
}

.contacts-button:hover,
.contacts-button:focus {
  opacity: 0.5;
}

.contacts-button-icon {
  fill: currentColor;
}
.map-container {
  height: 307px;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
  .map-container {
    height: 377px;
  }
}
@media only screen and (min-width: 1440px) {
  .map-container {
    height: 697px;
    min-width: 869px;
  }
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(60%) brightness(1.1) contrast(0.9);
}
