.quality {
  padding: 64px 0;
}
.quality-container {
  text-align: center;
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  flex-direction: column;
}
.quality-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
}
.quality-title {
  margin-bottom: 24px;
}
.quality-text {
  font-weight: 400;
}
.quality-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.quality-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.quality-item-img {
  width: 100%;
  border-radius: 32px;
}
.quality-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quality-item-subtitle {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 600;
}
.quality-item-text {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .quality-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .quality-item.full-width {
    width: 100%;
    grid-column: 1 / -1;
  }
  .quality-text {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .quality-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .quality-item.full-width {
    width: auto;
    grid-column: auto;
  }
  .quality-item {
    flex: 1;
  }
}
