.quality-container {
  text-align: center;
  margin: 64px auto;
  box-sizing: border-box;
}
.quality-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
}
.quality-title {
  margin-bottom: 24px;
}
.quality-text {
  margin: 0 auto 32px;
  font-weight: 400;
}
.quality-item:not(:last-child) {
  margin-bottom: 24px;
}
.quality-item-img {
  margin: 0 auto 32px;
  width: 100%;
  border-radius: 32px;
}
.quality-item-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 600;
}
.quality-item-text {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .quality-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .quality-item.full-width {
    width: 100%;
    grid-column: 1 / -1;
  }
  .quality-text {
    max-width: 768px;
    margin: 0 auto 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .quality-list {
    display: flex;
    gap: 24px;
  }
  .quality-item.full-width {
    width: auto;
    grid-column: auto;
  }
  .quality-item {
    flex: 1;
  }
}
