.subscribe {
  padding: 64px 0;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subscribe-content {
  width: 100%;
  max-width: 288px;
}

.subscribe-title {
  margin-bottom: 24px;
}

.subscribe-text {
  margin-bottom: 32px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 16px;
  width: 100%;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.sub-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.input-subscribe {
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(11, 8, 3, 0.6);
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-subscribe::placeholder {
  color: rgba(11, 8, 3, 0.6);
}

.input-subscribe:hover,
.input-subscribe:focus {
  border: 1px solid #7f1c1c;
  color: #7f1c1c;
}

/* валідація */
.input-subscribe:not(:placeholder-shown):invalid {
  border-color: #7f1c1c;
}

.input-subscribe:not(:placeholder-shown):valid {
  border-color: #0b0803;
}

.text-valid,
.text-invalid {
  font-size: 12px;
  display: none;
}

.text-valid {
  color: #0b0803;
}
.text-invalid {
  color: #7f1c1c;
}

.input-subscribe:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.input-subscribe:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

/* button */
.btn-subscribe {
  display: flex;
  gap: 12px;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 44px;
  box-shadow: 0 32px 24px 0 rgba(255, 255, 255, 0.05) inset,
    0 2px 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 1px rgba(11, 8, 3, 0.15) inset, 0 -2px 1px 0 rgba(0, 0, 0, 0.2) inset,
    0 1px 2px 0 rgba(11, 8, 3, 0.05);
  background: #6f4e37;
  font-size: 16px;
  font-weight: 500;
  border: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  opacity: 0.5;
}

.chevrons {
  fill: #fff;
}

.terms {
  font-size: 12px;
  width: 100%;
}

.sub-picture {
  width: 100%;
  height: 400px;
}

.sub-image {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

/* tablet */
@media (min-width: 768px) {
  .subscribe-content {
    max-width: 100%;
  }
  .subscribe-title,
  .subscribe-text,
  .terms {
    width: 100%;
  }

  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
    width: 522px;
  }

  .input-subscribe {
    width: 339px;
  }

  .btn-subscribe {
    width: 158px;
  }

  .sub-image {
    max-width: 704px;
    width: 100%;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .subscribe-container {
    flex-direction: row;
    column-gap: 32px;
    align-items: center;
  }

  .subscribe-content {
    max-width: 640px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .subscribe-form {
    column-gap: 16px;
    width: 513px;
  }

  .btn-subscribe {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .terms {
    margin-bottom: 0;
  }

  .sub-picture {
    max-width: 640px;
  }
}
