.testimonials {
  padding: 64px 0;
}
.testimonials-title {
  max-width: 288px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .testimonials-title {
    max-width: 498px;
    margin-bottom: 24px;
  }
}
.testimonials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.testimonials-item {
  min-width: 265px;
  max-width: 343px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: 32px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  background-color: #c29d84;
}
@media only screen and (min-width: 768px) {
  .testimonials-item {
    width: calc((100% - 24px * 1) / 2);
    height: 253px;

    justify-content: space-between;
    gap: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .testimonials-item {
    width: calc((100% - 3 * 24px) / 4);
    height: 303px;
  }
}
.testimonials-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.testimonials-list-stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  color: #0b0803;
}
.testimonials-stars-item {
}
.testimonials-stars-icon {
}
.testimonials-comment {
  font-weight: 400;
}
.testimonials-reviewer {
  font-weight: 600;
  font-size: 16px;
}
